In [ ]:
import pandas as pd
import requests
import json
from tqdm import tqdm

In [ ]:
dat = pd.read_csv("../data/pnwNP_StatsLocations.csv")

StreamStatsServiceURLS = {
    'gage': 'https://streamstats.usgs.gov/gagestatsservices/statistics'
    }

In [ ]:
for i in tqdm(range(len(dat))):
    gageURLParams = {
        "stationIDOrCode": dat["gage"][i]
    }
    print("Gage = " + str(dat["gage"][i]))
    
    gageResponse = requests.get(url = StreamStatsServiceURLS['gage'], params = gageURLParams)
    
    if gageResponse.status_code == 200:
        cookies = gageResponse.cookies
        try:
            gageStats = pd.DataFrame(json.loads(gageResponse.content.decode('utf-8')))


            gageStats['statName'] = pd.DataFrame(list(gageStats["regressionType"]))['name']
            gageStats['statCode'] = pd.DataFrame(list(gageStats["regressionType"]))['code']
            gageStats['statDesc'] = pd.DataFrame(list(gageStats["regressionType"]))['description']


            gageStats = gageStats[['value','statName','statCode','statDesc','statisticErrors','yearsofRecord','comments']].to_csv("../data/StreamStats_GageStats/"+str(dat["gage"][i])+".csv",index=False)
            del(gageStats)
        except:
            pass
    else:
        pass

In [7]:
i=2

gageURLParams = {
    "stationIDOrCode": dat["gage"][i]
}


gageResponse = requests.get(url = StreamStatsServiceURLS['gage'], params = gageURLParams)

if gageResponse.status_code == 200:
    cookies = gageResponse.cookies
    try:
        gageStats = pd.DataFrame(json.loads(gageResponse.content.decode('utf-8')))


        gageStats['statName'] = pd.DataFrame(list(gageStats["regressionType"]))['name']
        gageStats['statCode'] = pd.DataFrame(list(gageStats["regressionType"]))['code']
        gageStats['statDesc'] = pd.DataFrame(list(gageStats["regressionType"]))['description']


#         gageStats = gageStats[['value','statName','statCode','statDesc','statisticErrors','yearsofRecord','comments']].to_csv("../data/StreamStats_GageStats/"+str(dat["gage"][i])+".csv",index=False)
#         del(gageStats)
    except:
        pass
    
else:
    pass

In [8]:
gageStats

,id,statisticGroupTypeID,regressionTypeID,stationID,value,unitTypeID,comments,isPreferred,yearsofRecord,citationID,statisticErrors,statisticGroupType,regressionType,statName,statCode,statDesc
0,412276,4,90,7560,2.420,44,,True,46.0,126,[],"{'id': 4, 'name': 'Low-Flow Statistics', 'code...","{'id': 90, 'name': '7 Day 2 Year Low Flow', 'c...",7 Day 2 Year Low Flow,M7D2Y,7-Day mean low-flow that occurs on average onc...
1,412277,4,92,7560,0.841,44,,True,46.0,126,[],"{'id': 4, 'name': 'Low-Flow Statistics', 'code...","{'id': 92, 'name': '7 Day 10 Year Low Flow', '...",7 Day 10 Year Low Flow,M7D10Y,7-Day mean low-flow that occurs on average onc...
2,412278,5,107,7560,310.000,44,Statistic Date Range 10/1/1910 - 9/30/1991,True,46.0,52,[],"{'id': 5, 'name': 'Flow-Duration Statistics', ...","{'id': 107, 'name': '1 Percent Duration', 'cod...",1 Percent Duration,D1,Streamflow exceeded 1 percent of the time
3,412279,5,108,7560,235.000,44,Statistic Date Range 10/1/1910 - 9/30/1991,True,46.0,52,[],"{'id': 5, 'name': 'Flow-Duration Statistics', ...","{'id': 108, 'name': '2 Percent Duration', 'cod...",2 Percent Duration,D2,Streamflow exceeded 2 percent of the time
4,412280,5,109,7560,200.000,44,Statistic Date Range 10/1/1910 - 9/30/1991,True,46.0,52,[],"{'id': 5, 'name': 'Flow-Duration Statistics', ...","{'id': 109, 'name': '3 Percent Duration', 'cod...",3 Percent Duration,D3,Streamflow exceeded 3 percent of the time
5,412281,5,110,7560,154.000,44,Statistic Date Range 10/1/1910 - 9/30/1991,True,46.0,52,[],"{'id': 5, 'name': 'Flow-Duration Statistics', ...","{'id': 110, 'name': '5 Percent Duration', 'cod...",5 Percent Duration,D5,Streamflow exceeded 5 percent of the time
6,412282,5,112,7560,98.000,44,Statistic Date Range 10/1/1910 - 9/30/1991,True,46.0,52,[],"{'id': 5, 'name': 'Flow-Duration Statistics', ...","{'id': 112, 'name': '10 Percent Duration', 'co...",10 Percent Duration,D10,Streamflow exceeded 10 percent of the time
7,412283,5,113,7560,67.000,44,Statistic Date Range 10/1/1910 - 9/30/1991,True,46.0,52,[],"{'id': 5, 'name': 'Flow-Duration Statistics', ...","{'id': 113, 'name': '15 Percent Duration', 'co...",15 Percent Duration,D15,Streamflow exceeded 15 percent of the time
8,412284,5,114,7560,47.000,44,Statistic Date Range 10/1/1910 - 9/30/1991,True,46.0,52,[],"{'id': 5, 'name': 'Flow-Duration Statistics', ...","{'id': 114, 'name': '20 Percent Duration', 'co...",20 Percent Duration,D20,Streamflow exceeded 20 percent of the time
9,412285,5,115,7560,32.000,44,Statistic Date Range 10/1/1910 - 9/30/1991,True,46.0,52,[],"{'id': 5, 'name': 'Flow-Duration Statistics', ...","{'id': 115, 'name': '25 Percent Duration', 'co...",25 Percent Duration,D25,Streamflow exceeded 25 percent of the time
10,412286,5,116,7560,24.000,44,Statistic Date Range 10/1/1910 - 9/30/1991,True,46.0,52,[],"{'id': 5, 'name': 'Flow-Duration Statistics', ...","{'id': 116, 'name': '30 Percent Duration', 'co...",30 Percent Duration,D30,Streamflow exceeded 30 percent of the time
11,412287,5,117,7560,17.000,44,Statistic Date Range 10/1/1910 - 9/30/1991,True,46.0,52,[],"{'id': 5, 'name': 'Flow-Duration Statistics', ...","{'id': 117, 'name': '35 Percent Duration', 'co...",35 Percent Duration,D35,Streamflow exceeded 35 percent of the time
12,412288,5,118,7560,12.000,44,Statistic Date Range 10/1/1910 - 9/30/1991,True,46.0,52,[],"{'id': 5, 'name': 'Flow-Duration Statistics', ...","{'id': 118, 'name': '40 Percent Duration', 'co...",40 Percent Duration,D40,Streamflow exceeded 40 percent of the time
13,412289,5,119,7560,9.200,44,Statistic Date Range 10/1/1910 - 9/30/1991,True,46.0,52,[],"{'id': 5, 'name': 'Flow-Duration Statistics', ...","{'id': 119, 'name': '45 Percent Duration', 'co...",45 Percent Duration,D45,Streamflow exceeded 45 percent of the time
14,412290,5,120,7560,7.300,44,Statistic Date Range 10/1/1910 - 9/30/1991,True,46.0,52,[],"{'id': 5, 'name': 'Flow-Duration Statistics', ...","{'id': 120, 'name': '50 Percent Duration', 'co...",50 Percent Duration,D50,Streamflow exceeded 50 percent of the time
15,412291,5,121,7560,6.000,44,Statistic Date Range 10/1/1910 - 9/30/1991,True,46.0,52,[],"{'id': 5, 'name': 'Flow-Duration Statistics', ...","{'id': 121, 'name': '55 Percent Duration', 'co...",55 Percent Duration,D55,Streamflow exceeded 55 percent of the time
16,412292,5,122,7560,5.000,44,Statistic Date Range 10/1/1910 - 9/30/1991,True,46.0,52,[],"{'id': 5, 'name': 'Flow-Duration Statistics', ...","{'id': 122, 'name': '60 Percent Duration', 'co...",60 Percent Duration,D60,Streamflow exceeded 60 percent of the time
17,412293,5,123,7560,4.100,44,Statistic Date Range 10/1/1910 - 9/30/1991,True,46.0,52,[],"{'id': 5, 'name': 'Flow-Duration Statistics', ...","{'id': 123, 'name': '65 Percent Duration', 'co...",65 Percent Duration,D65,Streamflow exceeded 65 percent of the time
18,412294,5,124,7560,3.200,44,Statistic Date Range 10/1/1910 - 9/30/1991,True,46.0,52,[],"{'id': 5, 'name': 'Flow-Duration Statistics', ...","{'id': 124, 'name': '70 Percent Duration', 'co...",70 Percent Duration,D70,Streamflow exceeded 70 percent of the time
19,412295,5,125,7560,2.400,44,Statistic Date Range 10/1/1910 - 9/30/1991,True,46.0,52,[],"{'id': 5, 'name': 'Flow-Duration Statistics', ...","{'id': 125, 'name': '75 Percent Duration', 'co...",75 Percent Duration,D75,Streamflow exceeded 75 percent of the time
20,412296,5,126,7560,1.600,44,Statistic Date Range 10/1/1910 - 9/30/1991,True,46.0,52,[],"{'id': 5, 'name': 'Flow-Duration Statistics', ...","{'id': 126, 'name': '80 Percent Duration', 'co...",80 Percent Duration,D80,Streamflow exceeded 80 percent of the time
21,412297,5,127,7560,1.100,44,Statistic Date Range 10/1/1910 - 9/30/1991,True,46.0,52,[],"{'id': 5, 'name': 'Flow-Duration Statistics', ...","{'id': 127, 'name': '85 Percent Duration', 'co...",85 Percent Duration,D85,Streamflow exceeded 85 percent of the time
22,412298,5,128,7560,0.600,44,Statistic Date Range 10/1/1910 - 9/30/1991,True,46.0,52,[],"{'id': 5, 'name': 'Flow-Duration Statistics', ...","{'id': 128, 'name': '90 Percent Duration', 'co...",90 Percent Duration,D90,Streamflow exceeded 90 percent of the time
23,412299,5,130,7560,0.310,44,Statistic Date Range 10/1/1910 - 9/30/1991,True,46.0,52,[],"{'id': 5, 'name': 'Flow-Duration Statistics', ...","{'id': 130, 'name': '95 Percent Duration', 'co...",95 Percent Duration,D95,Streamflow exceeded 95 percent of the time
24,412300,5,131,7560,0.270,44,Statistic Date Range 10/1/1910 - 9/30/1991,True,46.0,52,[],"{'id': 5, 'name': 'Flow-Duration Statistics', ...","{'id': 131, 'name': '97 Percent Duration', 'co...",97 Percent Duration,D97,Streamflow exceeded 97 percent of the time
25,412301,5,132,7560,0.200,44,Statistic Date Range 10/1/1910 - 9/30/1991,True,46.0,52,[],"{'id': 5, 'name': 'Flow-Duration Statistics', ...","{'id': 132, 'name': '98 Percent Duration', 'co...",98 Percent Duration,D98,Streamflow exceeded 98 percent of the time
26,412302,5,133,7560,0.200,44,Statistic Date Range 10/1/1910 - 9/30/1991,True,46.0,52,[],"{'id': 5, 'name': 'Flow-Duration Statistics', ...","{'id': 133, 'name': '99 Percent Duration', 'co...",99 Percent Duration,D99,Streamflow exceeded 99 percent of the time
27,412303,6,134,7560,33.000,44,Statistic Date Range 10/1/1910 - 9/30/1991,True,46.0,52,[],"{'id': 6, 'name': 'Annual Flow Statistics', 'c...","{'id': 134, 'name': 'Mean Annual Flow', 'code'...",Mean Annual Flow,QA,Mean Annual Flow
28,412318,9,177,7560,70.000,44,,True,46.0,126,[],"{'id': 9, 'name': 'January Flow-Duration Stati...","{'id': 177, 'name': 'January 5 Percent Duratio...",January 5 Percent Duration,JAND5,January streamflow exceeded 5 percent of the time
29,412319,9,179,7560,43.000,44,,True,46.0,126,[],"{'id': 9, 'name': 'January Flow-Duration Stati...","{'id': 179, 'name': 'January 10 Percent Durati...",January 10 Percent Duration,JAND10,January streamflow exceeded 10 percent of the ...
30,412320,9,182,7560,12.000,44,,True,46.0,126,[],"{'id': 9, 'name': 'January Flow-Duration Stati...","{'id': 182, 'name': 'January 25 Percent Durati...",January 25 Percent Duration,JAND25,January streamflow exceeded 25 percent of the ...
31,412321,9,187,7560,7.000,44,,True,46.0,126,[],"{'id': 9, 'name': 'January Flow-Duration Stati...","{'id': 187, 'name': 'January 50 Percent Durati...",January 50 Percent Duration,JAND50,January streamflow exceeded 50 percent of the ...
32,412322,9,197,7560,1.500,44,,True,46.0,126,[],"{'id': 9, 'name': 'January Flow-Duration Stati...","{'id': 197, 'name': 'January 95 Percent Durati...",January 95 Percent Duration,JAND95,January streamflow exceeded 95 percent of the ...
33,412323,10,204,7560,91.000,44,,True,46.0,126,[],"{'id': 10, 'name': 'February Flow-Duration Sta...","{'id': 204, 'name': 'February 5 Percent Durati...",February 5 Percent Duration,FEBD5,February streamflow exceeded 5 percent of the ...
34,412324,10,206,7560,56.000,44,,True,46.0,126,[],"{'id': 10, 'name': 'February Flow-Duration Sta...","{'id': 206, 'name': 'February 10 Percent Durat...",February 10 Percent Duration,FEBD10,February streamflow exceeded 10 percent of the...
35,412325,10,209,7560,25.000,44,,True,46.0,126,[],"{'id': 10, 'name': 'February Flow-Duration Sta...","{'id': 209, 'name': 'February 25 Percent Durat...",February 25 Percent Duration,FEBD25,February streamflow exceeded 25 percent of the...
36,412326,10,214,7560,11.000,44,,True,46.0,126,[],"{'id': 10, 'name': 'February Flow-Duration Sta...","{'id': 214, 'name': 'February 50 Percent Durat...",February 50 Percent Duration,FEBD50,February streamflow exceeded 50 percent of the...
37,412327,10,224,7560,3.300,44,,True,46.0,126,[],"{'id': 10, 'name': 'February Flow-Duration Sta...","{'id': 224, 'name': 'February 95 Percent Durat...",February 95 Percent Duration,FEBD95,February streamflow exceeded 95 percent of the...
38,412328,11,231,7560,195.000,44,,True,46.0,126,[],"{'id': 11, 'name': 'March Flow-Duration Statis...","{'id': 231, 'name': 'March 5 Percent Duration'...",March 5 Percent Duration,MARD5,March streamflow exceeded 5 percent of the time
39,412329,11,233,7560,124.000,44,,True,46.0,126,[],"{'id': 11, 'name': 'March Flow-Duration Statis...","{'id': 233, 'name': 'March 10 Percent Duration...",March 10 Percent Duration,MARD10,March streamflow exceeded 10 percent of the time
40,412330,11,236,7560,54.700,44,,True,46.0,126,[],"{'id': 11, 'name': 'March Flow-Duration Statis...","{'id': 236, 'name': 'March 25 Percent Duration...",March 25 Percent Duration,MARD25,March streamflow exceeded 25 percent of the time
41,412331,11,241,7560,24.700,44,,True,46.0,126,[],"{'id': 11, 'name': 'March Flow-Duration Statis...","{'id': 241, 'name': 'March 50 Percent Duration...",March 50 Percent Duration,MARD50,March streamflow exceeded 50 percent of the time
42,412332,11,251,7560,6.710,44,,True,46.0,126,[],"{'id': 11, 'name': 'March Flow-Duration Statis...","{'id': 251, 'name': 'March 95 Percent Duration...",March 95 Percent Duration,MARD95,March streamflow exceeded 95 percent of the time
43,412333,12,258,7560,263.000,44,,True,46.0,126,[],"{'id': 12, 'name': 'April Flow-Duration Statis...","{'id': 258, 'name': 'April 5 Percent Duration'...",April 5 Percent Duration,APRD5,April streamflow exceeded 5 percent of the time
44,412334,12,260,7560,208.000,44,,True,46.0,126,[],"{'id': 12, 'name': 'April Flow-Duration Statis...","{'id': 260, 'name': 'April 10 Percent Duration...",April 10 Percent Duration,APRD10,April streamflow exceeded 10 percent of the time
45,412335,12,263,7560,135.000,44,,True,46.0,126,[],"{'id': 12, 'name': 'April Flow-Duration Statis...","{'id': 263, 'name': 'April 25 Percent Duration...",April 25 Percent Duration,APRD25,April streamflow exceeded 25 percent of the time
46,412336,12,268,7560,82.000,44,,True,46.0,126,[],"{'id': 12, 'name': 'April Flow-Duration Statis...","{'id': 268, 'name': 'April 50 Percent Duration...",April 50 Percent Duration,APRD50,April streamflow exceeded 50 percent of the time
47,412337,12,278,7560,22.000,44,,True,46.0,126,[],"{'id': 12, 'name': 'April Flow-Duration Statis...","{'id': 278, 'name': 'April 95 Percent Duration...",April 95 Percent Duration,APRD95,April streamflow exceeded 95 percent of the time
48,412338,14,312,7560,155.000,44,,True,46.0,126,[],"{'id': 14, 'name': 'June Flow-Duration Statist...","{'id': 312, 'name': 'June 5 Percent Duration',...",June 5 Percent Duration,JUND5,June streamflow exceeded 5 percent of the time
49,412361,7,885,7560,15.200,44,,True,46.0,126,[],"{'id': 7, 'name': 'Monthly Flow Statistics', '...","{'id': 885, 'name': 'Apr 7 Day 10 Year Low Flo...",Apr 7 Day 10 Year Low Flow,M7D10Y04,April 7-Day mean low-flow that occurs on avera...