In [ ]:
import os
import pandas as pd
from datetime import datetime
from math import log10
from scipy.stats import ecdf
from multiprocessing import Pool, cpu_count

In [ ]:
f = pd.read_csv("../data/pnwNP_modeledData/10378500.csv")

In [58]:
f.head(40)

,Unnamed: 0,streamflow_VIC,time,streamflow_PRMS,streamflow_NWM2d0,streamflow_NWM2d1,streamflow_NWIS,gage
0,0,0.767205,1950-01-01,12.308974,NaN,NaN,0.045307,10378500
1,1,1.181407,1950-01-02,17.368828,NaN,NaN,0.042475,10378500
2,2,1.245326,1950-01-03,15.873023,NaN,NaN,0.042475,10378500
3,3,1.250622,1950-01-04,13.633054,NaN,NaN,0.045307,10378500
4,4,1.247074,1950-01-05,11.714673,NaN,NaN,0.048139,10378500
5,5,1.244287,1950-01-06,10.202055,NaN,NaN,0.053802,10378500
6,6,1.246358,1950-01-07,8.989211,NaN,NaN,0.053802,10378500
7,7,1.259414,1950-01-08,8.002232,NaN,NaN,0.053802,10378500
8,8,1.246337,1950-01-09,7.188663,NaN,NaN,0.053802,10378500
9,9,1.442424,1950-01-10,6.739753,NaN,NaN,0.050970,10378500
10,10,1.356229,1950-01-11,6.188796,NaN,NaN,0.045307,10378500
11,11,1.251927,1950-01-12,5.646805,NaN,NaN,0.042475,10378500
12,12,1.226197,1950-01-13,5.200034,NaN,NaN,0.042475,10378500
13,13,1.219312,1950-01-14,4.819800,NaN,NaN,0.042475,10378500
14,14,1.216070,1950-01-15,4.491609,NaN,NaN,0.042475,10378500
15,15,1.212853,1950-01-16,4.205486,NaN,NaN,0.045307,10378500
16,16,1.210477,1950-01-17,4.074694,NaN,NaN,0.056634,10378500
17,17,3.913782,1950-01-18,5.794134,NaN,NaN,0.084951,10378500
18,18,9.953138,1950-01-19,11.413928,NaN,NaN,0.113267,10378500
19,19,12.379487,1950-01-20,21.804468,NaN,NaN,0.209545,10378500
20,20,13.065237,1950-01-21,31.787106,NaN,NaN,0.396436,10378500
21,21,13.536270,1950-01-22,42.386288,NaN,NaN,0.566337,10378500
22,22,7.569346,1950-01-23,41.861900,NaN,NaN,0.679604,10378500
23,23,2.954284,1950-01-24,31.483397,NaN,NaN,0.424753,10378500
24,24,1.665992,1950-01-25,23.368309,NaN,NaN,0.229366,10378500
25,25,1.472438,1950-01-26,18.662445,NaN,NaN,0.141584,10378500
26,26,1.485023,1950-01-27,15.498667,NaN,NaN,0.113267,10378500
27,27,1.496479,1950-01-28,13.160943,NaN,NaN,0.084951,10378500
28,28,1.504485,1950-01-29,11.349861,NaN,NaN,0.070792,10378500
29,29,1.514102,1950-01-30,9.917039,NaN,NaN,0.056634,10378500
30,30,1.522862,1950-01-31,8.763024,NaN,NaN,0.056634,10378500
31,31,1.530518,1950-02-01,7.819514,NaN,NaN,0.056634,10378500
32,32,1.536973,1950-02-02,7.038153,NaN,NaN,0.056634,10378500
33,33,1.546977,1950-02-03,6.383857,NaN,NaN,0.056634,10378500
34,34,2.161191,1950-02-04,9.664845,NaN,NaN,0.070792,10378500
35,35,2.893457,1950-02-05,12.449478,NaN,NaN,0.070792,10378500
36,36,2.772418,1950-02-06,15.742033,NaN,NaN,0.070792,10378500
37,37,2.018190,1950-02-07,13.744021,NaN,NaN,0.070792,10378500
38,38,1.645362,1950-02-08,11.006501,NaN,NaN,0.084951,10378500
39,39,1.637178,1950-02-09,9.971043,NaN,NaN,0.084951,10378500

In [74]:


df = f[["time","streamflow_NWIS"]]
df = df.rename(columns = {"time": "Date", "streamflow_NWIS": "q"})
df["Date"] = pd.to_datetime(df["Date"])
df = df[['Date', 'q']].dropna()
df['q'] = df['q'].round(1)
df['q_peak'] = df['q'].where(df['q'] > df['q'].quantile(0.25), 0)

df['slp_b'] = (df['q_peak'] - df['q_peak'].shift()) / (df['Date'] - df['Date'].shift()).dt.days
df['slp_f'] = (df['q_peak'].shift(-1) - df['q_peak']) / (df['Date'].shift(-1) - df['Date']).dt.days

df['peak_flag'] = (df['slp_b'] > 0.0001) & (df['slp_f'] < 0)
df['peak_flag'] = df['peak_flag'].fillna(0)

df['event_id'] = df['peak_flag'].cumsum() + 1
df['nf_start'] = (df['q'] == 0) & (df['q'].shift() != 0)

In [78]:
df[df["nf_start"]==True]

            Date    q  q_peak  slp_b  slp_f  peak_flag  event_id  nf_start
0     1950-01-01  0.0     0.0    NaN    0.0      False         1      True
10    1950-01-11  0.0     0.0    0.0    0.0      False         1      True
213   1950-08-02  0.0     0.0    0.0    0.0      False        18      True
221   1950-08-10  0.0     0.0    0.0    0.0      False        18      True
284   1950-10-12  0.0     0.0    0.0    0.0      False        18      True
...          ...  ...     ...    ...    ...        ...       ...       ...
15004 1991-01-30  0.0     0.0    0.0    0.0      False       816      True
15017 1991-02-12  0.0     0.0    0.0    0.0      False       816      True
15032 1991-02-27  0.0     0.0    0.0    0.0      False       816      True
15170 1991-07-15  0.0     0.0    0.0    0.0      False       826      True
15177 1991-07-22  0.0     0.0    0.0    0.0      False       826      True

[129 rows x 8 columns]

In [85]:
# def recession_fun(m):
m=18
t = df[df['event_id'] == m].copy()
# t['nf_start'].fillna(0, inplace=True)
t = t.fillna({"nf_start":0},inplace=True)

if t['nf_start'].sum() != 0 and t['q'].iloc[0] != 0 and t['q_peak'].sum() != 0:
    print(1)
    t['dry_event_id'] = t['nf_start'].cumsum()
    t['dry_event_id'] = t['dry_event_id'].where(t['q'] > 0, 0)
    
    dry_date = t[t['dry_event_id'] > 0].groupby('dry_event_id').agg({'Date': 'min'}).reset_index()
    dry_date = dry_date.sort_values(by=['n', 'date'], ascending=[False, True]).iloc[0]['Date']
    
    t = t[t['Date'] <= dry_date]
    
    event_id = t['event_id'].iloc[0]
    peak_date = datetime.strptime(t['Date'].iloc[0], '%Y-%m-%d').timetuple().tm_yday
    peak_value = t['q'].iloc[0]
    peak_quantile = ecdf(df['q'])(peak_value)
    peak2zero = len(t)
    
    t['dQ'] = t['q'].shift() - t['q']
    t = t[t['dQ'] >= 0]
    
    model = pd.DataFrame({'log10_dQ': log10(t['dQ'] + 0.1), 'log10_q': log10(t['q'] + 0.1)})
    model = model.dropna()
    
    drying_rate = model['log10_q'].iloc[1]
    p_value = model['log10_dQ'].iloc[1]
    
    output = pd.DataFrame({'event_id': [event_id], 
                           'peak_date': [peak_date], 
                           'peak_value': [peak_value], 
                           'peak_quantile': [peak_quantile], 
                           'peak2zero': [peak2zero], 
                           'drying_rate': [drying_rate], 
                           'p_value': [p_value]})
else:
    output = pd.DataFrame({'event_id': [t['event_id'].iloc[0]],
                           'peak_date': [None], 'peak_value': [None],
                           'peak_quantile': [None],
                           'peak2zero': [None],
                           'drying_rate': [None],
                           'p_value': [None]})

1

KeyError: 'n'

In [102]:
m=18
t = df[df['event_id'] == m].copy()
# t = t['nf_start'].fillna(0)
# t = tfillna({"nf_start":0},inplace=True)

In [103]:
t

          Date    q  q_peak  slp_b  slp_f  peak_flag  event_id  nf_start
190 1950-07-10  0.4     0.4    0.1   -0.1       True        18     False
191 1950-07-11  0.3     0.3   -0.1    0.0      False        18     False
192 1950-07-12  0.3     0.3    0.0    0.0      False        18     False
193 1950-07-13  0.3     0.3    0.0   -0.1      False        18     False
194 1950-07-14  0.2     0.2   -0.1   -0.2      False        18     False
..         ...  ...     ...    ...    ...        ...       ...       ...
297 1950-10-25  0.1     0.0    0.0    0.0      False        18     False
298 1950-10-26  0.1     0.0    0.0    0.0      False        18     False
299 1950-10-27  0.1     0.0    0.0    0.0      False        18     False
300 1950-10-28  0.1     0.0    0.0    0.2      False        18     False
301 1950-10-29  0.2     0.2    0.2    0.1      False        18     False

[112 rows x 8 columns]

In [88]:
    dry_date = t[t['dry_event_id'] > 0].groupby('dry_event_id').agg({'Date': 'min'}).reset_index()
    dry_date = dry_date.sort_values(by=['n', 'date'], ascending=[False, True]).iloc[0]['Date']

   dry_event_id       Date
0             1 1950-08-04
1             2 1950-10-05
2             3 1950-10-19

In [92]:
t.head(50)

,Date,q,q_peak,slp_b,slp_f,peak_flag,event_id,nf_start,dry_event_id
190,1950-07-10,0.4,0.4,0.1,-0.1,True,18,False,0
191,1950-07-11,0.3,0.3,-0.1,0.0,False,18,False,0
192,1950-07-12,0.3,0.3,0.0,0.0,False,18,False,0
193,1950-07-13,0.3,0.3,0.0,-0.1,False,18,False,0
194,1950-07-14,0.2,0.2,-0.1,-0.2,False,18,False,0
195,1950-07-15,0.1,0.0,-0.2,0.0,False,18,False,0
196,1950-07-16,0.1,0.0,0.0,0.0,False,18,False,0
197,1950-07-17,0.1,0.0,0.0,0.0,False,18,False,0
198,1950-07-18,0.1,0.0,0.0,0.0,False,18,False,0
199,1950-07-19,0.1,0.0,0.0,0.0,False,18,False,0
200,1950-07-20,0.1,0.0,0.0,0.0,False,18,False,0
201,1950-07-21,0.1,0.0,0.0,0.0,False,18,False,0
202,1950-07-22,0.1,0.0,0.0,0.0,False,18,False,0
203,1950-07-23,0.1,0.0,0.0,0.0,False,18,False,0
204,1950-07-24,0.1,0.0,0.0,0.0,False,18,False,0
205,1950-07-25,0.1,0.0,0.0,0.0,False,18,False,0
206,1950-07-26,0.1,0.0,0.0,0.0,False,18,False,0
207,1950-07-27,0.1,0.0,0.0,0.0,False,18,False,0
208,1950-07-28,0.1,0.0,0.0,0.0,False,18,False,0
209,1950-07-29,0.1,0.0,0.0,0.0,False,18,False,0
210,1950-07-30,0.1,0.0,0.0,0.0,False,18,False,0
211,1950-07-31,0.1,0.0,0.0,0.0,False,18,False,0
212,1950-08-01,0.1,0.0,0.0,0.0,False,18,False,0
213,1950-08-02,0.0,0.0,0.0,0.0,False,18,True,0
214,1950-08-03,0.0,0.0,0.0,0.0,False,18,False,0
215,1950-08-04,0.1,0.0,0.0,0.0,False,18,False,1
216,1950-08-05,0.1,0.0,0.0,0.0,False,18,False,1
217,1950-08-06,0.1,0.0,0.0,0.0,False,18,False,1
218,1950-08-07,0.1,0.0,0.0,0.0,False,18,False,1
219,1950-08-08,0.1,0.0,0.0,0.0,False,18,False,1
220,1950-08-09,0.1,0.0,0.0,0.0,False,18,False,1
221,1950-08-10,0.0,0.0,0.0,0.0,False,18,True,0
222,1950-08-11,0.0,0.0,0.0,0.0,False,18,False,0
223,1950-08-12,0.0,0.0,0.0,0.0,False,18,False,0
224,1950-08-13,0.0,0.0,0.0,0.0,False,18,False,0
225,1950-08-14,0.0,0.0,0.0,0.0,False,18,False,0
226,1950-08-15,0.0,0.0,0.0,0.0,False,18,False,0
227,1950-08-16,0.0,0.0,0.0,0.0,False,18,False,0
228,1950-08-17,0.0,0.0,0.0,0.0,False,18,False,0
229,1950-08-18,0.0,0.0,0.0,0.0,False,18,False,0
230,1950-08-19,0.0,0.0,0.0,0.0,False,18,False,0
231,1950-08-20,0.0,0.0,0.0,0.0,False,18,False,0
232,1950-08-21,0.0,0.0,0.0,0.0,False,18,False,0
233,1950-08-22,0.0,0.0,0.0,0.0,False,18,False,0
234,1950-08-23,0.0,0.0,0.0,0.0,False,18,False,0
235,1950-08-24,0.0,0.0,0.0,0.0,False,18,False,0
236,1950-08-25,0.0,0.0,0.0,0.0,False,18,False,0
237,1950-08-26,0.0,0.0,0.0,0.0,False,18,False,0
238,1950-08-27,0.0,0.0,0.0,0.0,False,18,False,0
239,1950-08-28,0.0,0.0,0.0,0.0,False,18,False,0

In [ ]:
files = [f for f in os.listdir('data/daily_data_with_ climate_and_PET/csv') if f.endswith('.csv')]

In [ ]:
def metrics_fun(n):

    
    df = f[["time","streamflow_NWIS"]]
    df = df.rename(columns = {"time": "Date", "streamflow_NWIS": "q"})
    df["Date"] = pd.to_datetime(df["Date"])
    df = df[['Date', 'q']].dropna()
    df['q'] = df['q'].round(1)
    df['q_peak'] = df['q'].where(df['q'] > df['q'].quantile(0.25), 0)
    
    df['slp_b'] = (df['q_peak'] - df['q_peak'].shift()) / (df['Date'] - df['Date'].shift()).dt.days
    df['slp_f'] = (df['q_peak'].shift(-1) - df['q_peak']) / (df['Date'].shift(-1) - df['Date']).dt.days
    
    df['peak_flag'] = (df['slp_b'] > 0.0001) & (df['slp_f'] < 0)
    df['peak_flag'] = df['peak_flag'].fillna(0)
    
    df['event_id'] = df['peak_flag'].cumsum() + 1
    df['nf_start'] = (df['q'] == 0) & (df['q'].shift() != 0)



    
    def recession_fun(m):
        t = df[df['event_id'] == m].copy()
        t['nf_start'].fillna(0, inplace=True)
        
        if t['nf_start'].sum() != 0 and t['q'].iloc[0] != 0 and t['q_peak'].sum() != 0:
            t['dry_event_id'] = t['nf_start'].cumsum()
            t['dry_event_id'] = t['dry_event_id'].where(t['q'] > 0, 0)
            
            dry_date = t[t['dry_event_id'] > 0].groupby('dry_event_id').agg({'date': 'min'}).reset_index()
            dry_date = dry_date.sort_values(by=['n', 'date'], ascending=[False, True]).iloc[0]['date']
            
            t = t[t['date'] <= dry_date]
            
            event_id = t['event_id'].iloc[0]
            peak_date = datetime.strptime(t['date'].iloc[0], '%Y-%m-%d').timetuple().tm_yday
            peak_value = t['q'].iloc[0]
            peak_quantile = ecdf(df['q'])(peak_value)
            peak2zero = len(t)
            
            t['dQ'] = t['q'].shift() - t['q']
            t = t[t['dQ'] >= 0]
            
            model = pd.DataFrame({'log10_dQ': log10(t['dQ'] + 0.1), 'log10_q': log10(t['q'] + 0.1)})
            model = model.dropna()
            
            drying_rate = model['log10_q'].iloc[1]
            p_value = model['log10_dQ'].iloc[1]
            
            output = pd.DataFrame({'event_id': [event_id], 
                                   'peak_date': [peak_date], 
                                   'peak_value': [peak_value], 
                                   'peak_quantile': [peak_quantile], 
                                   'peak2zero': [peak2zero], 
                                   'drying_rate': [drying_rate], 
                                   'p_value': [p_value]})
        else:
            output = pd.DataFrame({'event_id': [t['event_id'].iloc[0]],
                                   'peak_date': [None], 'peak_value': [None],
                                   'peak_quantile': [None],
                                   'peak2zero': [None],
                                   'drying_rate': [None],
                                   'p_value': [None]})
        
        return output
    
    def dry_fun(m):
        t = df[df['event_id'] == m].copy()
        t['nf_start'].fillna(0, inplace=True)
        
        if t['nf_start'].sum() != 0:
            t['dry_event_id'] = t['nf_start'].cumsum()
            t['dry_event_id'] = t['dry_event_id'].where(t['q'] > 0, 0)
            
            dry_event = t[t['dry_event_id'] > 0].groupby('dry_event_id').agg({'date': 'min'}).reset_index()
            dry_event = dry_event.sort_values(by=['n', 'date'], ascending=[False, True]).iloc[0]['dry_event_id']
            
            t = t[t['dry_event_id'] == dry_event]
            
            output = pd.DataFrame({'event_id': [t['event_id'].iloc[0]],
                                   'calendar_year': [t['date'].iloc[0].year],
                                   'season': ['Winter' if t['date'].iloc[0].month <= 3 else 'Spring' if t['date'].iloc[0].month <= 6 else 'Summer' if t['date'].iloc[0].month <= 9 else 'Fall'],
                                   'meteorologic_year': [t['date'].iloc[0].year - 1 if t['season'].iloc[0] == 'Winter' else t['date'].iloc[0].year],
                                   'dry_date_start': [datetime.strptime(t['date'].iloc[0], '%Y-%m-%d').timetuple().tm_yday],
                                   'dry_date_mean': [t['date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d').timetuple().tm_yday).mean()],
                                   'dry_dur': [len(t)]})
        else:
            output = pd.DataFrame({'event_id': [t['event_id'].iloc[0]],
                                   'calendar_year': [None],
                                   'season': [None], 
                                   'meteorologic_year': [None],
                                   'dry_date_start': [None],
                                   'dry_date_mean': [None],
                                   'dry_dur': [None]})
        
        return output

    
    metrics = pd.concat([recession_fun(m) for m in range(1, df['event_id'].max() + 1)]).reset_index(drop=True)
    metrics = pd.concat([metrics, dry_fun(m) for m in range(1, df['event_id'].max() + 1)]).reset_index(drop=True)
    metrics['gage'] = gage
    metrics = metrics.dropna(subset=['dry_dur'])
    
    return metrics

In [ ]:
def execute(a):
    try:
        return metrics_fun(a)
    except Exception as e:
        return pd.DataFrame({'event_id': [None],
                             'peak_date': [None],
                             'peak2zero': [None],
                             'drying_rate': [None],
                             'calendar_year': [None],
                             'season': [None],
                             'meteorologic_year': [None],
                             'dry_date_start': [None],
                             'dry_date_mean': [None],
                             'dry_dur': [None],
                             'p_value': [None], 
                             'gage': [os.path.splitext(files[a])[0]]})

if __name__ == '__main__':
    t0 = datetime.now()
    
    with Pool(cpu_count()) as p:
        output = pd.concat(p.map(execute, range(len(files))))
    
    output.to_csv('./data/metrics_by_event.csv', index=False)
    
    tf = datetime.now()
    tf - t0